/* BookkMyungjo-Bd */
@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 60;
    font-style: normal;
}

.event_visual{height: 100vh}

/* movie_slide */
.movie_slide{margin-bottom: 120px}
.movie_slide h2{padding-top: 100px;font-family: 'Creepster', system-ui;font-size: 80px;text-align: center;color: #f4572f}
.movie_slide_wrpper{margin-top: 50px;position: relative}
.movie_slide_wrpper .swiper-slide{position: relative;width: 350px;height: 350px;}
.movie_sl_img{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: no-repeat center / cover;transform: scale(0.9);transition: 1s}
.movie_slide_wrpper .swiper-slide.swiper-slide-active .movie_sl_img{transform: scale(1)}
.movie_slide_wrpper .swiper-slide.sl1 .movie_sl_img{background-image: url('../img/blue/blue_dragon_vase.png');}
.movie_slide_wrpper .swiper-slide.sl2 .movie_sl_img{background-image: url('../img/blue/blue_leather_sofa.png');}
.movie_slide_wrpper .swiper-slide.sl3 .movie_sl_img{background-image: url('../img/blue/blue_flower_cup.png');}
.movie_slide_wrpper .swiper-slide.sl4 .movie_sl_img{background-image: url('../img/blue/twin_horse.png');}
.movie_slide_wrpper .swiper-slide.sl5 .movie_sl_img{background-image: url('../img/blue/hanging_dragon_lamp.png');}
.movie_slide_wrpper .swiper-button{position: absolute;top: 50%;margin-top: -25px;left: 50%;color: #f4572f;cursor: pointer}
.movie_slide_wrpper .swiper-button-prev i{font-size: 40px;margin-left: -600px;transform: rotateY(-180deg);}
.movie_slide_wrpper .swiper-button-next i{font-size: 40px;margin-left: 600px;}




