@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,900&display=swap');

/* slogan */
.slogan{padding: 230px 0 100px;background-color: #c67886;}
.slogan_row{position: relative;height: 85px;}
.left, .right {position: absolute;top: 0;left: 50%;width: 50vw;overflow: hidden;}
.left{margin-left: -50vw;color:whitesmoke;transform: skew(0deg, -15deg);}
.right{color: black;transform: skew(0deg, 15deg);}
.left .content{width: 100vw;text-align: center;}
.right .content{width: 100vw;text-align: center;transform: translate(-50vw);}
.slogan_row span{display: inline-block;font-family: 'Montserrat', sans-serif;font-size: 90px;text-transform: uppercase;transition: ease-out 0.1s;}
    
/* faq */
.faq{padding: 100px 0;color: #000;}
.faq_wrapper{width: 800px;margin: 0 auto;;}
.faq_title{padding-bottom: 10px;font-weight: 700;}
.faq_list{padding-top: 40px;}
.faq_list li{position: relative}
.faq_list li.on::before{content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 2px;background-color: #000;transition: all 0.4s}
.faq_list .list_head{display: block;position: relative;background: url('../img/page/brand/enjoy/faq_arr.png') no-repeat right 20px top 50%;}
.faq_list li.on .list_head{background-image: url('../img/page/brand/enjoy/faq_arr_on.png');}
.faq_list .list_head::before{content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 2px;background-color: #000;transition: all 0.4s}
.faq_list li.on .list_head::before{width: 0}
.faq_list .list_title{padding-left: 20px;line-height: 70px;font-size: 16px;font-weight: 700;}
.faq_list .list_content{display:none}
.faq_list .list_twrap{padding: 10px 0 20px 20px}
.faq_list .list_text{word-break: keep-all;}
    
    
    
  