/* shop */
.shop{height: 100vh;}
.shop_bg{background-image: url('../img/common/vin25.jpg');}
#shop_record{transform: translate(-250px, -250px);}

/* menu */
.menu{padding: 100px 0;}
.menu_lists{display: flex;flex-wrap: wrap;justify-content: center;}
.menu_lists li{width: 300px;margin-right: 20px;margin-bottom: 60px;}
.menu_lists li:nth-child(4n){margin-right: 0;}
.menu_list_wrapper{position: relative;height: 300px;}
.menu_list_wrapper > a{display: block;height: 100%;background-color: rgba(0,0,0,0.02);}
.menu_list_img{transform: scale(0.9);transition: 0.5s;}
.menu_lists li:hover .menu_list_img{transform: scale(1);}
.menu_list_img, .menu_list_hover{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;}
.menu_list_hover{opacity: 0;transition: 0.6s;background-image: url('../img/menu/pattern1.png');}
.menu_lists li:hover .menu_list_hover{opacity: 1;}
.menu_list_name{padding-top: 10px;font-weight: 700;font-size: 16px;}
.menu_list_cost{font-weight: 700;color: #000;font-size: 14px}
.menu_list_check{margin-top: 10px;}
.menu_list_check span{padding: 1px 4px;border: 1px solid;font-weight: 700;font-size: 11px}
.menu_list_check span:not(:last-child){margin-right: 4px;}
.menu_list_sale{color: #ec3a67}
.menu_list_best{color: #3cadff}